# URLs config
API_URL=http://localhost:8000/api
WEB_URL=http://localhost:5000

# API config
SECRET_KEY=SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL config
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432