# IDEs
.idea/
.vscode/

# Documents
*.txt

# Archive
.archive/

# Environments
.env
.env.dev

# SSL certificates
*.crt
*.key

# Logs
logs/

# Static files
staticfiles/

# Postgres data
pgdata/

# Ruff cache
.ruff_cache/

# Node modules
node_modules/